.main {
  line-height: 20px;
}

.background {
  background-image: url("../images/bluebuilding.jpg");
  height: 400px;
  -webkit-transform: cover;
  -ms-transform: cover;
  transform: cover;
}


.erinpic {
  border-radius: 50%;
}

hr {
  height: 5px;
  background: grey;
}

.heading {
  color: grey;
  font-family: Sans-serif;
  font-weight: bold;
}

.main {
  background-color: beige;
  font-family: sans-serif;
}
.main:hover {
  background-color: orange;
}

